<header>
<h1>Hello, Workout App User!</h1>
</header>
<body>
    <p id="des">this is the body of this page there will be content, images and links to the other pages</p>
    <div id="welcomeLinks">
    <%= link_to 'New Exercise', new_exercise_path %>
    <%= link_to 'Created Exercises', exercises_path %>
    </div>
</body>
<style>
body {
   background-color: lightgrey;
}
</style>