h1 
{
    text-align: center;
    font: bold 70px Georgia, serif;
    color: darkgreen;
    
}
table 
{
    text-align: center;
    border-collapse: collapse;
    background-color: lightgreen;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    font: 25px Georgia, serif;
}

th {
    background-color: darkgreen;
    color: #fafad2;
    height: 50px;
}

tbody{
    background-color: #fafad2;
    color: darkgreen;
}
#des {
    color: darkgreen;
    font-size: 20px;
    text-align: center;
}

#form {
    color: darkgreen;
    font-size: 30px;
}
#link{
    color: white;
}

strong{
    font-size: 30px;
    color: darkgreen;
}

.showInfo{
    color: black;
    font-size: 20px;
}
#welcomeLinks{
    text-align: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 15px;
    text-decoration: none;
    margin-left: 15px;
    font-size: 20px;
}
li a:hover {
    background-color: darkgreen;

}

#logo {
    font-size: 30px;
    margin-left: 15px;
    color: darkgreen;
    display: block;
    text-align: center;
    text-decoration: none;

}
#rt {
    float: right;
}


