<div class="navbar-class">
  <div class="container">
      <nav>


  <!-- Collect the nav links, forms, and other content for toggling -->

    <tbody class="nav navbar-nav">
        <tr>
          <td><%=link_to "HOME", root_path%></td>
          <td><%=link_to "EXERCICES", exercises_path%></td>
          <td><%=link_to "NEW EXERCISE", new_exercise_path%></td>
      </tr>
    </tbody>

      </nav>
  </div>
</div>