<div class="navbar-class">
    <ul>
          <li><%=link_to "HOME", root_path%></li>
          <li><%=link_to "EXERCICES", exercises_path%></li>
          <li><%=link_to "NEW EXERCISE", new_exercise_path%></li>
          <li>Iron Niner</li>
    </ul>
</div>